* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #F5F5F5;
}
.header {
    background: #FA8C16;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}
.header-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    margin-right: auto;
    margin-left: 60px;
}
.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-menu-link {
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px;
}
.input-group {
    max-width: 237px;
    width: 60%;
    height: 32px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #D9D9D9;
}
.search-input {
    border: none;
    height: 100%;
    width: 80%;
    font-size: 14px;
    line-height: 22px;
    padding-left: 12px;
}
.search-button {
    border: none;
    height: 100%;
    width: 20%;
    position: absolute;
    background: #fff;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input::placeholder {
    color: #BFBFBF;
}
.search-input::-moz-placeholder {
    color: #BFBFBF;
}
.search-input::-webkit-input-placeholder {
    color: #BFBFBF;
}
.search-input:-ms-input-placeholder {
    color: #BFBFBF;
}
.search-input::-ms-input-placeholder {
    color: #BFBFBF;
}
.menu-toggle {
    display: none;
}
.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.posts {
    width: 67%;
}
.post-body {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;
}
.post {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}
.post-title {
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.post-text {
    color: #262626;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.tags {
    margin-bottom: 22px;
}
.tag {
    color: #BFBFBF;
    font-size: 14px;
    line-height: 22px;
    margin-right: 10px;
    text-decoration: none;
}
.post-footer {
    background: #FAFAFA;
    border-top: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.post-buttons {
    display: flex;
    align-items: center;
}
.post-button .icon {
    fill: #8c8c8c;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.icon-likes,
.icon-comments {
    margin-right: 6px;
}
.post-button {
    background-color: trasparent;
    border: none;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    margin-right: 19px;
}
.post-author {
    display: flex;
    align-items: center;
    text-align: right;
}
.author-avatar {
    width: 34px;
    height: 34px;
    margin-left: 9px;
    border-radius: 4px;
}
.author-username {
    display: flex;
    color: #8C8C8C;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}
.post-time {
    color: #BFBFBF;
    font-size: 12px;
    line-height: 20px;
}
.sidebar {
    width: 30%;
}
.user {
    background: #FAFAFA;
    border: 1px solid #E8E8E8;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-info {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.user-avatar {
    border-radius: 50%;
    margin-right: 17px;
}
.user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.icon-exit {
    width: 24px;
    height: 24px;
    fill: #000000;
}
.sidebar-nav {
    background-color: #fff;
}
.sidebar-menu {
    margin: 0;
    border: 1px solid #E8E8E8;
    border-top: none;
    list-style: none;
    padding: 0;
}
.sidebar-menu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    padding: 16px 48px;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.sidebar-menu-link:hover {
    background-color: #fffbe6;
}
.sidebar-menu-link.active {
    background-color: #fffbe6;
    border-right: 3px solid #FAAD14;
}
.button {
    background: #FAAD14;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    padding: 13px;
    cursor: pointer;
}
.button-new-post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.button-outline {
    background: #FFFFFF;
    border: 1px solid #FFC53D;
    border-radius: 4px;
    color: #FFC53D;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}
.button-outline .icon {
    width: 14px;
    height: 11px;
    fill: #FFC53D;
}
.icon-fire {
    fill: #fff;
    width: 12px;
    height: 14px;
    margin-right: 10px;
}
.card {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
}
.card-header {
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
    padding: 23px 25px;
}
.card-title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.card-body {
    padding: 22px 40px 20px 25px;
}
.card-body-title {
    margin: 0 0 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
}
.card-text {
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    margin: 10px 0;
}
.promo {
    display: block;
    background: #fff url(../img/promo.jpg) no-repeat center center / cover;
    width: 100%;
    height: 260px;
    border: 1px solid #E8E8E8;
    margin-top: 20px;
    position: relative;
}
.promo::before {
    content: "Реклама";
    position: absolute;
    right: 0;
    top: 0;
    background: #C4C4C4;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.add-post {
    display: flex;
    flex-direction: column;
}
.add-title, .add-text {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    padding: 23px 30px;
    margin-bottom: 16px;
}
.add-text {
    min-height: 362px;
}
.add-button {
    width: 100%;
    max-width: 370px;
    margin-right: 2%;
}
.add-post .button-outline {
    margin-right: 1%;
}
@media (max-width: 990px) {
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-left: 12px;
    }
    .menu-toggle span {
        height: 2px;
        width: 100%;
        background-color: #fff;
    }
    .header {
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
    }
    .content {
        margin-top: 94px;
        margin-bottom: 60px;
    }
    .sidebar {
        position: fixed;
        z-index: 101;
        top: 64px;
        right: 0;
        bottom: 0;
        height: calc(100% - 64px);
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        padding: 30px 20px;
        transform: translateX(100%);
        transition: transform 0.2s;
        overflow-y: auto;
    }
    .sidebar.visible {
        transform: translateX(0);
    }
    .posts {
        width: 100%;
    }
    .header-nav {
        margin-left: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #FA8C16;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu {
        width: 90%;
        margin: auto;
    }
}
@media (max-width: 680px) {
    .add-buttons {
        display: flex;
        flex-direction: column;
    }
    .add-button {
        width: 100%;
        max-width: 100%;
    }
    .add-post .button-outline {
        margin-right: 0;
        margin-top: 10px;
    }
}
@media (max-width: 576px) {
    .post-footer {
        flex-direction: column;
    }
    .post-author {
        margin-top: 15px;
    }
    .author-avatar {
        margin-left: 0;
        margin-right: 10px;
    }
    .author-about {
        order: 2;
        text-align: left;
    }
    .header-nav {
        display: none;
    }
    .add-buttons {
        display: flex;
        flex-direction: column;
    }
    .add-button {
        width: 100%;
    }
}